<div class="container">
  <div class="content">
    <div class="main-header">
      <h1 class="text-center page-header">
        Projects
      </h1>
    </div>
    {{> posts}}
  </div>
</div>