<div class="container">
  <div class="content">
    <div class="main-header">
      <h1 class="text-center page-header">
        Projects
      </h1>
    </div>
    {{> posts}}
    <a href="#" class="btn btn-info" id="loadMore">Load More</a>
  </div>
</div>