<div class="container">
  <div class="content">
    <div class="main-header">
      <h1 class="text-center">
        Projects
      </h1>
      <hr>
    </div>

    {{> tags}}

    {{> posts}}
  </div>
</div>