<div class="container">

  <div>
    <h1>Login</h1>
    <a class="btn btn-block btn-social btn-lg btn-github login-btns" href="/auth/github">
      <span class="fa fa-github"></span>
      Sign in with Github
    </a>
    <a class="btn btn-block btn-social btn-lg btn-google login-btns" href="/auth/google">
      <span class="fa fa-google"></span>
      Sign in with Google
    </a>
    <a class="btn btn-block btn-social btn-lg btn-primary login-btns" href="/locallogin">
      <span class="fa fa-envelope"></span>
      Sign in with username and password
    </a>
    <a class="btn btn-block btn-social btn-lg btn-facebook login-btns" href="/auth/facebook">
      <span class="fa fa-facebook"></span>
      Sign in with Facebook
    </a>
  </div>

</div><!-- /.container -->
