<div class="container">

  <div class="login-page">
    <h1 class="text-center">Login</h1>
    <a class="btn btn-lg btn-google login-btns" href="/auth/google" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sign in with Google">
      <span class="fa fa-google"></span>
    </a>
    <a class="btn btn-lg btn-facebook login-btns" href="/auth/facebook" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sign in with Facebook">
      <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-lg btn-github login-btns" href="/auth/github" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sign in with Github">
      <span class="fa fa-github"></span>
    </a>
    <a class="btn btn-lg btn-primary login-btns" href="/locallogin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sign in/Register with Email">
      <span class="fa fa-envelope"></span>
    </a>
  </div>

</div><!-- /.container -->
