<img class="img-responsive post-img" src="{{post.imgUrl}}" />
<h2 class="text-center">{{post.postTitle}}</h2>
<blockquote class="text-center">
  <p>{{post.description}}</p>
</blockquote>
<p class="post-author text-center">Made by: {{post.author.name}}</p>