<div class="container">
  <h2 class="page-header">Upload a new project</h2>
  <form class="upload-form" action="/upload-project" method="post">
    <div class="form-group">
      <label for="project">Project name</label>
      <input type="text" class="form-control" id="posttitle" name="postTitle" placeholder="Project name" required>
    </div>
    <div class="form-group">
      <label for="components">Compenents</label>
      <input type="text" class="form-control" id="components" name="components" placeholder="Components" required>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea id="project-description-textarea" name="projectDescription" placeholder="Description" required></textarea>
    </div>
    <div class="form-group">
      <label for="github-repo-link">Link to Github repository</label>
      <input type="text" class="form-control" id="github-repo-link" name="githubRepoLink">
    </div>
    <div class="form-group">
      <label for="upload">Images</label>
      <input type="file" name="file" id="file-input" required>
      <p class="help-block">Upload an image of your project. Image must be <strong>.jpg or .png</strong></p>
    </div>
    <!--
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>-->
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>