html, body {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 0;
  padding-top: 64px;
  color: #222222;
  background-color: #f5f5f5; }

#navbar {
  font-weight: 700 !important; }
  #navbar .navbar-brand {
    font-weight: 700; }

h1, h2, h3, h4, h5 {
  color: #000000;
  font-weight: 500; }

p {
  letter-spacing: 1.5px;
  line-height: 24px; }

#wrapper {
  min-height: -webkit-calc(100% - 150px);
  /* Chrome */
  min-height: -moz-calc(100% - 150px);
  /* Firefox */
  min-height: calc(100% - 150px);
  /* native */ }

.content h1 {
  font-size: 4em; }
.content #posts .thumbnail {
  -webkit-box-shadow: -12px 10px 10px -2px rgba(66, 66, 66, 0.4);
  -moz-box-shadow: -12px 10px 10px -2px rgba(66, 66, 66, 0.4);
  box-shadow: -12px 10px 20px -10px rgba(66, 66, 66, 0.4);
  min-height: 400px;
  max-height: 600px;
  max-width: 500px;
  height: 520px; }
.content #posts .posts-img {
  max-height: 200px;
  padding: 10px;
  border-radius: 6%; }
.content #posts .posts-title {
  font-size: 1.5em;
  height: 40px; }
.content #posts .posts-description {
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin: 0 10px 0 10px;
  height: 145px; }
  .content #posts .posts-description h1, .content #posts .posts-description h2, .content #posts .posts-description h3, .content #posts .posts-description h4, .content #posts .posts-description h5 {
    display: none; }
.content #posts .read-more-btn {
  margin: 5px 10px 10px 10px;
  height: 35px; }
.content #posts .components {
  max-width: 500px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin: 10px 10px 10px 10px; }
@media screen and (min-width: 1px) and (max-width: 767px) {
  .content #columns[data-columns]::before {
    content: '2 .col-xs-12'; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .content #columns[data-columns]::before {
    content: '3 .col-sm-4'; } }
@media screen and (min-width: 992px) and (max-width: 9999px) {
  .content #columns[data-columns]::before {
    content: '3 .col-md-4'; } }

.login-btns {
  margin-bottom: 12px; }

#post {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 800px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 1.5%; }
  #post .postDescription {
    text-align: center; }
  #post .post-img {
    max-height: 400px;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px; }
  #post #postDescription {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px; }
    #post #postDescription p {
      word-wrap: break-word;
      font-size: 1.05em;
      font-weight: 500;
      color: #787878;
      letter-spacing: 1.5px;
      line-height: 24px; }

@media screen and (min-width: 1px) and (max-width: 767px) {
  #post {
    width: 100%; }
    #post .post-img {
      max-width: 100%; } }
footer {
  font-weight: 700;
  min-height: 150px;
  height: 150px;
  max-height: 300px;
  width: 100%;
  padding: 50px;
  background-color: #222222;
  color: #fff;
  position: relative;
  clear: both; }
  footer .heart {
    height: 10px; }

#status-area {
  display: none; }

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("../img/ajax-loader.gif") 50% 50% no-repeat; }

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden; }

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block; }

.heart {
  fill: red;
  height: 25px; }

#project-submit-btn {
  margin-bottom: 50px; }

/*# sourceMappingURL=main.css.map */
